/* RESET CSS */
*{
    box-sizing: border-box;
    font-size:14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: baseline;
}
a{
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    color: #ff0000;
}
li,ul{
    list-style: none;
    padding: 0;
}

/* ĐỊNH DẠNG CÁC THÀNH PHẦN LỚN CHỨA */
body
{
    background-color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}
#khungtrang
{
    position: relative;
    margin: auto;
    width:1080px;
    background-color: white;
}

/* ĐỊNH DẠNG CÁC THÀNH PHẦN NHỎ CHỨA */
header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#phantren_logo{
    margin-right : 20px;
}
.phantren
{
    display: inline-block;
    flex: 1;
    margin: 20px;
}
#phantren_tt_lienhe{
}
#thongtin{
    padding-left : 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 300;
}
div > i {       /*Chờ fix sau*/
    padding-right: 10px;
    height: 40px;
}

#phanmenungang
{
    height: 25px;
    background-color: #009933;
    text-align: center;
    color: white;
}
/*---------------------dinh dang cho menu lien ket ngang------------------------*/
#phanmenungang a {
    padding: 0 4px;
} 
#phanmenungang a:hover {
    font-size: 15px;
}

a.menungang, a.menungang_thoat
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 25px;
} */
a.menungang:hover
{
    text-decoration: underline;
}
a.menungang_thoat
{
	text-decoration: none;
    color: white;
    font-weight: bold;
	float: right;
}
 a.menungang12:hover
{
    text-decoration: underline;
}


#phantrai
{
    margin-top: 10px;
    float: left;
    width: 175px;
    border-right: thin solid #009933;
}
#phantrai ul li a {
	color: #090909;
}

#phantrai ul li a:hover {
	color: #ff0000;
}

/*Dinh dang cho menu lien ket doc*/
.khungmenu
{
    padding: 5px;
}
.khungmenu ul,.khungmenuphai ul{
    list-style-image: url(..images/li.gif); 
	margin-left: 0; 
	margin-top: 0;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 8px;
	border: 1px solid #228B22;
}
div.khungmenu ul li a {
	text-decoration: none;
	color: #080808;
    font-weight: bold;
}
div.khungmenu ul li a:hover{
    color: #ff0000;
}
.tieudemenu
{
    font-size: 16px;
	padding: 2px 0 0 5px;
	margin-bottom: 0;
	margin-top: 1px;
	background-color: #228B22;
	color: #ffffff;
}

a.menu:hover
{
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
}


#phangiua
{
    margin: 10px 10px;
    float: left;
    width: 730px;
    text-align: center;
    border-right: thin solid #009933;
    padding-right: 10px;
}
#phangiua h3{
    font-size: 20px;
	padding: 2px 0 10px 0;
	color: #4169E1;
	font-family: Tahoma;
	margin-top: 8px;
	margin-bottom: 0;
	text-shadow: 2px 2px 3px #00FF00;
}
#phangiua .ThongTin {
    color: red;
    font-weight: bold;
}
#phangiua .tieude {
    border-radius: 5px;
    background-color: green;
    font-size: 15px;
}

.baiviet .vanban {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    
}
.vanban .anhbaiviet {
    margin-right: 5px;
}

#phanphai
{
    margin-top: 10px;
    float: left;
    width: 150px;
}
/* #phanphai .khungmenuphai {
    list-style-image: url(..images/li.gif);
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 8px;
} */

#phanduoi
{
    clear: both;
    text-align: center;
    color: gray;
    background-color: aqua;
    border-top: thin dashed #009933;
}


#PhanMenu1{
	width: 340px;
	height: 30px;
	color: white;
	float:left;
	background: #1e90ff;
}

#PhanMenu1 a{
	color: white;
}


#PhanMenu2{
	width: 385px;
	height: 30px;
	color: white;
	float:left;
	text-align:left;
	vertical-align: middle;
	background: #1e90ff;
	font-size: 16px;
	
}

#PhanMenu3{
	width: 355px;
	height: 30px;
	color: white;
	float:right;
	background: #1e90ff;
	font-size: 12px;
}

#PhanMenu3 form{
    padding-top: 4px;
}

span.requirefield {
	color: #FF0000;
	font-size: 12px;
}

#binhchon {
	color: #ff0000;
	font-size:16pt;
}

p.requirefields {
	color: #FF0000;
	font-style: italic;
	font-size: 12px;
	padding: 0;
	margin: 3px 0px 3px 0px;
}
#result{
	margin:20px 0px;
}
.rate{
	width:200px;
	border:1px solid #ccc;
	
}
.like{
	float:left;
	background-color:#006400;
	width:0px;
	height:12px;
}
.dislike
{
	float:right;
	background-color:red;
	width:0px;
	height:12px;
}
.wrap_dautrang {
    position: absolute;
}

.dautrang {
    position: fixed;
    bottom: 100px;
    right: 140px;
    width: 20px;
    height: 20px;
}

